*{
    margin: 0px;
    padding: 0px;
}
#button {
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    background: whitesmoke;
    border: 2px solid;
    border-radius: 30px;
    cursor: pointer;
}